[Desktop Entry]
Name=FastPST
Comment=Outlook Data File (.pst/.ost) Search and Viewer
Exec=/mnt/data/projects/FastPST/run_linux.sh
Icon=mail-message-new
Terminal=false
Type=Application
Categories=Office;Email;Utility;
